# copy this file to .env and edit the values as needed

# required
HTTP_PORT="3000"

# optional: default is "info"
LOG_LEVEL="info"

# required
# check https://webhook.site
SERVICE_URL="http://example.com"

# required
SERVICE_API_KEY="12345"

# optional, default is "x-api-key"
SERVICE_API_KEY_HEADER="x-api-key"
